<!doctype html>
<html ng-app="myApp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>

        <!-- title -->
        <title>CSV charts reader</title>

        <!-- favicon -->
        <link rel="icon" href="/ui/images/favicon.png" type="image/x-icon" />

        <!-- bower:js -->
        <script src="/ui/vendor/bower_components/jquery/dist/jquery.js"></script>
        <script src="/ui/vendor/bower_components/angular/angular.js"></script>
        <script src="/ui/vendor/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/ui/vendor/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/ui/vendor/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/ui/vendor/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/ui/vendor/bower_components/angular-animate/angular-animate.js"></script>
        <script src="/ui/vendor/bower_components/angular-aria/angular-aria.js"></script>
        <script src="/ui/vendor/bower_components/angular-messages/angular-messages.js"></script>
        <script src="/ui/vendor/bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
        <script src="/ui/vendor/bower_components/angular-utils-pagination/dirPagination.js"></script>
        <script src="/ui/vendor/bower_components/chart.js/dist/Chart.js"></script>
        <script src="/ui/vendor/bower_components/d3/d3.js"></script>
        <script src="/ui/vendor/bower_components/nvd3/build/nv.d3.js"></script>
        <script src="/ui/vendor/bower_components/d3-tip/index.js"></script>
        <script src="/ui/vendor/bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="/ui/vendor/bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
        <script src="/ui/vendor/bower_components/underscore/underscore.js"></script>
        <script src="/ui/vendor/bower_components/moment/moment.js"></script>
        <script src="/ui/vendor/bower_components/ng-cookies/dist/ng-cookies.min.js"></script>
        <script src="/ui/vendor/bower_components/lodash/lodash.js"></script>
        <script src="/ui/vendor/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/ui/vendor/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
        <script src="/ui/vendor/bower_components/leaflet/dist/leaflet-src.js"></script>
        <script src="/ui/vendor/bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
        <script src="/ui/vendor/bower_components/angular-material/angular-material.js"></script>
        <script src="/ui/vendor/bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <script src="/ui/vendor/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
        <script src="/ui/vendor/bower_components/md-data-table/dist/md-data-table.js"></script>
        <script src="/ui/vendor/bower_components/md-data-table/dist/md-data-table-templates.js"></script>
        <!-- endinject -->

        <!-- bower:css -->
        <link rel="stylesheet" href="/ui/vendor/bower_components/nvd3/build/nv.d3.css">
        <link rel="stylesheet" href="/ui/vendor/bower_components/angular-material-icons/angular-material-icons.css">
        <link rel="stylesheet" href="/ui/vendor/bower_components/leaflet/dist/leaflet.css">
        <link rel="stylesheet" href="/ui/vendor/bower_components/leaflet.markercluster/dist/MarkerCluster.css">
        <link rel="stylesheet" href="/ui/vendor/bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css">
        <link rel="stylesheet" href="/ui/vendor/bower_components/angular-material/angular-material.css">
        <link rel="stylesheet" href="/ui/vendor/bower_components/md-data-table/dist/md-data-table-style.css">
        <!-- endinject -->

        <!-- vendor:js -->
        <!-- endinject -->

        <!-- vendor:css -->
        <link rel="stylesheet" href="/ui/vendor/iconfont/material-icons.css">
        <!-- endinject -->

        <!-- custom:js -->
        <script src="/ui/ui-app.js"></script>
        <script src="/ui/states/abstractStateCtrl.js"></script>
        <script src="/ui/states/dashboardCtrl.js"></script>
        <script src="/ui/common/charts/chartsModule.js"></script>
        <script src="/ui/common/data_manager/DataService.js"></script>
        <script src="/ui/common/http_manager/HttpMiddlewareService.js"></script>
        <script src="/ui/common/charts/lineChart/lineChart.js"></script>
        <!-- endinject -->

        <!-- custom:css -->
        <link rel="stylesheet" href="/ui/build/application.css">
        <link rel="stylesheet" href="/ui/common/charts/chart.css">
        <link rel="stylesheet" href="/ui/common/charts/lineChart/lineChart.css">
        <!-- endinject -->

        <!-- fonts -->
        <link rel="stylesheet" href="/vendor/iconfont/material-icons.css" />

    </head>

    <body ui-view></body>
</html>
