// Dashboard Shell - Header
$headerBackground: #FFFFFF;

// Dashboard Shell - Side Navigation
$navBackground: #eee;
$navWidth: 105px !default;
$nav-li-height: 46px !default;
$nav-li-padding: 20px !default;

// Dashboard Shell - Content
$contentBackground: #E8EBEF !default;