<div layout="column" style="padding: 20px;">
    <div layout="row" style="height: 400px;">
        <div flex>
          <h2> Total daily pudding items sold</h2>
            <div line-chart ng-model="lineTotalDaily"></div>
        </div>
        <div flex></div>
    </div>
    <br />
    <div layout="row" style="height: 400px;padding: 20px;">
        <div flex>
          <h2> Average daily pudding items sold per customer</h2>
            <div line-chart ng-model="lineAverageDaily"></div>
        </div>
        <div flex></div>
    </div>
    <div layout="row" style="height: 400px;padding: 20px;">
        <div flex>
          <h2> Total daily item sales per item</h2>
            <div line-chart ng-model="lineTotalPerItem"></div>
        </div>
        <div flex>
        </div>
    </div> 
</div>
