// Standard Colors
$navy: #001F3F !default;
$blue: #0074D9 !default;
$aqua: #7FDBFF !default;
$teal: #39CCCC !default;
$olive: #3D9970 !default;
$green: #2ECC40 !default;
$lime: #01FF70 !default;
$yellow: #FFDC00 !default;
$orange: #FF851B !default;
$red: #FF4136 !default;
$maroon: #85144B !default;
$fucshia: #F012BE !default;
$purple: #B10DC9 !default;
$black: #111111 !default;
$gray: #AAAAAA !default;
$silver: #DDDDDD !default;
$white: #FFFFFF !default;

// Greys
$grey50: #FAFAFA !default;
$grey100: #F5F5F5 !default;
$grey200: #EEEEEE !default;
$grey300: #E0E0E0 !default;
$grey400: #BDBDBD !default;
$grey450: #ADADAD !default;
$grey500: #9E9E9E !default;
$grey600: #757575 !default;
$grey700: #616161 !default;
$grey800: #424242 !default;
$grey900: #212121 !default;

.navy { color: #001F3F };
.blue { color: #0074D9 };
.aqua { color: #7FDBFF };
.teal { color: #39CCCC };
.olive { color: #3D9970 };
.green { color: #2ECC40 };
.lime { color: #01FF70 };
.yellow { color: #FFDC00 };
.orange { color: #FF851B };
.red { color: #FF4136 };
.maroon { color: #85144B };
.fucshia { color: #F012BE };
.purple { color: #B10DC9 };
.black { color: #111111 };
.gray { color: #AAAAAA };
.silver { color: #DDDDDD };
.white { color: #FFFFFF };

.bkgd-navy { background: #001F3F };
.bkgd-blue { background: #0074D9 };
.bkgd-aqua { background: #7FDBFF };
.bkgd-teal { background: #39CCCC };
.bkgd-olive { background: #3D9970 };
.bkgd-green { background: #2ECC40 };
.bkgd-lime { background: #01FF70 };
.bkgd-yellow { background: #FFDC00 };
.bkgd-orange { background: #FF851B };
.bkgd-red { background: #FF4136 };
.bkgd-maroon { background: #85144B };
.bkgd-fucshia { background: #F012BE };
.bkgd-purple { background: #B10DC9 };
.bkgd-black { background: #111111 };
.bkgd-gray { background: #AAAAAA };
.bkgd-silver { background: #DDDDDD };
.bkgd-white { background: #FFFFFF };
