// Dashboard Shell - Header
$headerBackground: #FFFFFF;

// Dashboard Shell - Side Navigation
$navBackground: #C7CED8;
$navWidth: 105px !default;
$nav-li-height: 55px !default;
$nav-li-padding: 4px !default;

// Dashboard Shell - Content
$contentBackground: #E8EBEF !default;

// Theme Palette
$palettePrimary: #006699;
$paletteSecondary: #3498DB;
$paletteTertiary: #E74C3C;
$paletteLight: #f0f0f0;
$paletteDark: #111111;
$paletteHighlight: #eda533;

// Login
$loginBgXAlign: center;
$loginBgYAlign: bottom;
$loginFooterBg: #808998;
$loginFooterColor: white;