.chart {
  width: 100%;
  height: 100%;
}
.chart .axis path,
.chart .axis line,
.chart .alt line {
  fill: none !important;
  stroke: gray !important;
  stroke-width: 1px !important;
  shape-rendering: crispEdges !important;
}
.chart .alt line {
  stroke-dasharray: 2,2 !important;
}
.chart .tick line {
  stroke: lightgray !important;
}
.chart .tick line.first-tick {
  stroke: gray !important;
}
.chart text {
  fill: gray;
}
.chart text.no-data {
  font-size: 16px;
  font-weight: 600;
  fill: #111111;
}

/* Tooltip Style */
.d3-tip {
    line-height: 1.3;
    padding: 5px;
    background: white;
    border: 1px solid gray;
    color: #000;
    border-radius: 2px;
    font-size: 12px;
    z-index: 600;
}

.radial-chart svg {
  display: block;
  margin: auto;
}

.radial-chart .background {
  fill: #FFFFFF;
  fill-opacity: 0.01;
}

.radial-chart .component {
  fill: #E74C3C;
}

.radial-chart .component .label {
  font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
  text-anchor: middle;
  fill: #0000FF;
}

.radial-chart .arc {
  stroke: #919191;
  stroke-weight: 0.1;
  fill: #919191;
}

.radial-chart .arc2 {
  stroke: #b1d4f0;
  stroke-weight: 0.1;
  fill: #2C3E50;
}

.radial-chart .label {
  font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
  text-anchor: middle;
  font-weight: 400;
}

.radial-chart .sub-label {
  font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
  text-anchor: middle;
  font-style: italic;
}

.radial-svg {
  display: block;
}


.treemap-chart rect {
  cursor: pointer;
  stroke: #fff;
}
.treemap-chart .grandparent rect {
  fill: #f0f0f0;
  pointer-events: none;
}
.treemap-chart .grandparent text {
  fill: black;
  font-weight: 600;
  pointer-events: none;
}
.treemap-chart .children rect.parent,
.treemap-chart .grandparent rect {
  cursor: pointer;
}
.treemap-chart .children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}
.treemap-chart .children:hover rect.child {
  fill: #8EA6CE;
}
.treemap-chart .parent-text-header,
.treemap-chart .child-title,
.treemap-chart .child-subtitle {
  fill: black;
}

.donut-chart path.slice {
  stroke-width: 2px;
}
.donut-chart polyline {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.bar-chart rect {
  stroke: none;
  shape-rendering: crispEdges;
}
.bar-chart rect.bar-delta-negative {
  fill: #ffc7c7;
  stroke: red;
}
.bar-chart rect.bar-delta-positive {
  fill: #a5d496;
  stroke: darkgreen;
}
.bar-chart rect.bar {
  stroke: none;
}
.bar-chart rect.bar-alt {
  stroke: none;
}
.bar-chart rect.py {
  fill: orange;
  stroke: none;
}
.bar-chart text.next-button:hover {
  fill: #111111;
}



.buttons .btn {
  margin-right: 5px;
}


.bubble-time-chart rect {
  fill: none;
  opacity: 1;
  stroke: gray;
  stroke-width: 0.5;
  stroke-dasharray: 2;
}

line.horizontal{
    stroke: gray;
    stroke-width: 3;
    shape-rendering: crispEdges;
}
.bar-chart rect {
  stroke: none;
  shape-rendering: crispEdges;
}
.bar-chart rect.bar-delta-negative {
  fill: #ffc7c7;
  stroke: red;
}
.bar-chart rect.bar-delta-positive {
  fill: #a5d496;
  stroke: darkgreen;
}
.bar-chart rect.bar {
  stroke: none;
}
.bar-chart rect.bar-alt {
  stroke: none;
}
.bar-chart rect.py {
  fill: orange;
  stroke: none;
}
.bar-chart text.next-button:hover {
  fill: #111111;
}

.bar-chart rect {
  stroke: none;
  shape-rendering: crispEdges;
}
.bar-chart rect.bar-delta-negative {
  fill: #ffc7c7;
  stroke: red;
}
.bar-chart rect.bar-delta-positive {
  fill: #a5d496;
  stroke: darkgreen;
}
.bar-chart rect.bar {
  stroke: none;
}
.bar-chart rect.bar-alt {
  stroke: none;
}
.bar-chart rect.py {
  fill: orange;
  stroke: none;
}
.bar-chart text.next-button:hover {
  fill: #111111;
}

